<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/css/stylesheet.css' />
    <title>stage 1</title>
  </head>
  <body>

    <script src="/socket.io/socket.io.js"></script>
    <input id="start" type="button" value="Load Media" onclick="buttonPress()">
    
    <video id="scene1" class="scene-media" autoplay loop muted playsinline)" preload="none">
      <source src="/videos/black.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>

    <audio id="scene2" class="scene-media" autoplay loop muted playsinline>
      <source src="/audio/squeak.mp3" type="audio/mp3">
      Your browser does not support HTML5 audio.
    </audio>
    
    <video id="scene3" class="scene-media" autoplay loop muted playsinline poster="/images/green.png" oncanplaythrough="mediaReady(this.id)">
      Your browser does not support HTML5 video.
    </video>

    <audio id="scene4" class="scene-media" autoplay loop muted playsinline>
      <source src="/audio/fridge.mp3" type="audio/mp3">
      Your browser does not support HTML5 audio.
    </audio>

    <script>
      var socket = io();
      const button = document.getElementById('start');
      const scenes = document.getElementsByClassName("scene-media");
      const scene1 = document.getElementById('scene1');
      const scene2 = document.getElementById('scene2');
      const scene3 = document.getElementById('scene3');
      const scene4 = document.getElementById('scene4');

      window.addEventListener('keydown', function(event){
        if (event.keyCode == 32){
          socket.emit('bang');
        }
      });

      function buttonPress() {
        scene1.play()
        scene1.pause()
        scene2.play()
        scene2.pause()
        scene3.play()
        scene3.pause()
        scene4.play()
        scene4.pause()
        button.style.display = "none"
      }
    </script>

    <script type="text/javascript">
      function mediaReady(id) {
        console.log(id + " ready!")
      }
    </script>

    <script src="/js/loadScenes.js"></script>
    <script src="/js/socketsRouter.js"></script>
    <script src="/js/stopScene.js"></script>
    <script src="/js/playScene.js"></script>
  </body>
</html>