<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/css/stylesheet.css' />
    <title>stage 1</title>
  </head>
  <body>

    <script src="/socket.io/socket.io.js"></script>
    <p id='loading'>loading.....</p>
    
    <video id="scene1" class="scene-media" autoplay loop muted playsinline>
      <source src="/videos/black.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>

    <script>
      const scenes = document.getElementsByClassName("scene-media");

      function playVideo() {
        var scene = scenes.item(0)
        scene.style.display = "inline";
        scene.play()
      }
    </script>
    <input type="button" value="Load Media" onclick="playVideo()">
  </body>
</html>