video {
	display: none;
    position: fixed; right: 0; bottom: 0;
    min-width: 100vw; min-height: 100vh;
    width: auto; height: auto; z-index: -100;
    background-size: cover;
}

#start {
	display: inline;
}
#loading {
	display: none;
}