video {
	display: none;
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    max-width: 100%;
    width: auto; height: auto; z-index: -100;
    background-size: cover;
}

body {
	padding: 0px;
	background-color: black;
}

#start {
	display: inline;
}
#loading {
	display: none;
}